<!-- NAVBAR -->
#parse("/velocity/nav.vm")
#@mainLayout()
#end
<style>
body{
  font-family: "Helvetica";
  background-image: url('https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

#customers {
  border-collapse: collapse;
  width: 100%;
background-color: #ddd;
 
}

#customers td, #customers th {
  border: 0.5px solid black;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}


#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #03a45e;
  color: white;
}

.title{
	color:white;
	font-size:30px;
	margin: auto;
	text-align: left;
	width: 700px;
}

.container{
    margin: auto;
	text-align: center;
    width: 1300px;
}

.button {
  background-color: #a3218e; 
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 16px; 
}
.button:hover {
	opacity:0.8;
}
.important{
	width: 100px ;
	background-color: #398e39;
	color:white
}

.card{
 	background: rgba(0, 0, 0, 0.4);
}

.title-Container{
	margin:auto;
    width: 1300px;
    display: flex;
	text-align:center;
  	height:150px;
}

</style>
<header>
</header>
<body>


	<div class="card">
		<div class="title-Container">
			<div class="title">
				<h1>$Title $TotalCDRs</h1>
			</div>
		</div>
	</div>

	<div class="container">		
		<table id="customers">
	  	<tr>
		    <th>Nro.</th>
		    <th>Numero Origen</th>
		    <th>Numero Destino</th> 
		    <th>Duracion Llamada (hh:mm:ss)</th>
		    <th>Fecha (dd/mm/yyyy)</th>
		    <th>Hora (hh:mm:ss)</th>
		    <th>Fecha de Tarificacion</th> 
		    <th>Hora de Tarificacion</th> 
		    <th class="important">Costo de Llamada (Bs)</th> 
	 	 </tr>
	 	 #foreach($CDR in $CDRs)
		  <tr>
	  		<td>$foreach.count</td>
		    <td>$CDR.getOriginNumber()</td>
		    <td>$CDR.getDestinationNumber()</td>
		    <td>$CDR.getDurationCall()</td>
		    <td>$CDR.getDate()</td>
		    <td>$CDR.getHour()</td>
	        <td>$CDR.getdateTarification()</td>
	        <td>$CDR.gethourTarification()</td>
		    <td class="important">$CDR.getCallCost()</td>
		  </tr>	
		  #end
		  </table>
	  	  
	 </div>
</body>